<h1> All Books In Our Library</h1>

<% @books.each do |book| %>
  <p> <%= book.title %> </p>
  <p> <%= book.pages  %> </p>
  <p> <%= book.publication_year%> </p>
  <p> <% book.authors.each do |author| %></p>
        <p> <%= author.name %> </p>
      <% end %><br>
<% end %>
